allow-scripts[]=bufferutil@4.1.0
allow-scripts[]=esbuild@0.28.2
allow-scripts[]=fsevents@2.3.3
allow-scripts[]=ip-set@3.0.0
allow-scripts[]=node-datachannel@0.32.3
allow-scripts[]=sqlite3@6.0.1
allow-scripts[]=utf-8-validate@6.0.6
allow-scripts[]=utp-native@2.5.3
